<!DOCTYPE html>
<html>

<head>
  <title>Credit calculator</title>
</head>

<body>

  <div id="app">

    <div class='available_product'>
      <h2>Доступные продукты</h2>
      <div style="clear: left"></div>
      <div id="products">
        <products class="products"
          v-for="product in products" 
          v-bind:key="product.id"
          v-bind:id="product.id"
          v-bind:mindays="product.mindays" 
          v-bind:maxdays="product.maxdays" 
          v-bind:minsumm="product.minsumm" 
          v-bind:maxsumm="product.maxsumm" 
          v-bind:description="product.description" 
          v-bind:rate="product.rate" 
          v-bind:stepdays="product.stepdays" 
          v-bind:stepsumm="product.stepsumm" 
          v-bind:type="product.type" 
          v-bind:name="product.name">
        </products>
      </div>
      <div id="settings_products" class="settings_products">
        <h2>Параметры займа / {{ curSumm }} рублей на {{ getLoadPeriod(sliderDays.curDays) }}</h2>

        <h3>Сумма ({{ options.min }} рублей - {{ options.max }} рублей)</h2>
        <vue-slider
          ref="slider"
          v-model="curSumm"
          v-bind="options">
        </vue-slider>

        <loan_period 
          v-bind:mindays="sliderDays.options.min"
          v-bind:maxdays="sliderDays.options.max"
        ></loan_period>
        <vue-slider
          ref="slider"
          v-model="sliderDays.curDays"
          v-bind="sliderDays.options">
        </vue-slider>

        <p>Вы берете <b>{{ curSumm }}</b> рублей на <b>{{ getLoadPeriod(sliderDays.curDays) }}</b> под <b>{{ Number(curRate * 100).toFixed(2) }}% в сутки</b></p>
        <p>Вы возвращаете <b>{{ getRefundPayments() }}</b> по <b>{{ getAmountPayment() }}</b> {{ getNameEvery() }} <b>{{ getIntervalPayments() }}</b> до <b>{{ getLastDatePayment() }}</b></b></p>
      </div>
    </div>

    <div class='payment_chedule'>
      <h2 >График платежей</h2>
      <div id="payment_chedule_table">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Дата платежа</th>
                <th>Сумма платежа, руб</th>
                <th>Остаток долга, руб</th>
              </tr>
            </thead>
            <tbody>
            <tr v-for="(payment, index) in payment_schedule"
              v-bind:key="index"
              v-bind:date="payment.date"
              v-bind:amount="payment.amount"
              v-bind:remains="payment.remains">
              <td>{{ payment.date }}</td>
              <td>{{ payment.amount }}</td>
              <td>{{ payment.remains }}</td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div style="clear: left"></div>
  </div>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/theme/default.css">
  <link href="styles/style.css" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/dist/vue-slider-component.umd.min.js"></script>
  <script src="js/products.js"></script>
  <script src="js/load_period.js"></script>
  <script src="js/app.js"></script>
</body>

</html>